@import '../../../../styles/index.css';

.dish-details {

  & .dish-details__container {
    @include flexbox($direction: column, $gap: $gap-Xlarge);
  }

  & .dish-details__content {
    @include flexbox($gap: $gap-medium);
  }

  & .dish-details__image {
    @include size(222px, 223px);

    background: $color-orange-gradient;
    border-radius: $border-radius-regular;
  }

  & .dish-details__information {
    @include flexbox($direction: column, $gap: calc($gap-compact - 1px));
  }

  & .dish-details__vendor {
    @include title-xs;

    color: $text-color-grey;
  }

  & .dish-details__title-container {
    @include flexbox($gap: $gap-small);

    & .dish-details__title {
      @include title-s;

      color: $text-color-blue;
    }
  }

  .dish-details__icons {
    @include flexbox($alignItems: center, $gap: $gap-small);

    & .dish-details__plant-icon {
      @include size(16px, 16px);

      & path {
        fill: $color-green-500;
      }
    }

    & .dish-details__chilli-icon {
      @include size(16px, 16px);

      & path {
        fill: $color-red-500;
      }
    }
  }

  & .dish-details__rating-container {
    @include flexbox($direction: column, $gap: $gap-Xsmall);

    & .dish-details__rating {
      @include label-text-xs;

      color: $color-blue-600;
    }
  }

  & .dish-details__description-container {
    @include flexbox($direction: column, $gap: calc($gap-large + 2px));

    & .dish-details__description {
      @include body-m;

      color: $text-color-darker-grey;
    }
  }

  & .dish-details__price {
    color: $color-blue-600;

    & .dish-details__price-title {
      @include title-s;
    }

    & .dish-details__price-value {
      @include title-l;
    }
  }

  & .dish-details__comments-section {
    @include flexbox($direction: column, $gap: $gap-medium);

    border-top: 1px solid $color-grey-200;
    max-height: 200px;
    overflow-y: auto;
    padding-top: $spacing-xs;

    ::-webkit-scrollbar-thumb {
      background-color: $color-scrollbar;
      border-radius: 10px;
    }

    ::-webkit-scrollbar {
      height: 8px;
      width: 8px;
    }

    & .dish-details__comments-title {
      @include title-s;

      color: $color-blue-600;
      text-transform: uppercase;
    }

    & .dish-details__comments-container {
      @include flexbox($direction: column, $gap: $gap-large);
    }
  }

  & .dish-details__comment {
    @include flexbox($direction: column, $gap: $gap-regular);

    & .dish-details__comment-text {
      @include body-s;

      color: $text-color-darker-grey;
      padding-left: $gap-2Xlarge;
    }
  }

  & .dish-details__user {
    @include flexbox($gap: $gap-compact, $alignItems: center);

    & .dish-details__user-icon {
      @include size(22px, 22px);

      border-radius: $border-radius-circle;
      object-fit: cover;
    }

    & .dish-details__user-name {
      @include title-xs;

      color: $color-blue-600;
      text-transform: uppercase;
    }
  }
}
