@import '../../../../../../styles/index.css';

.available-dish__content-wrapper {
  @include flexbox($gap: $gap-medium, $justifyContent: space-between);
  @include title-s;

  box-shadow: inset 0 0 0 1px $color-grey-100;
  color: $color-blue-600;

  & td:nth-child(1) {
    flex-grow: 0.344;
  }

  & td:nth-child(2) {
    flex-grow: 0.24;
  }

  & td:nth-child(3) {
    flex-grow: 0.412;
  }

  & .available-dish__meal-wrapper {
    padding: $spacing-2xs;

    & .available-dish__wrapper {
      @include flexbox($gap: $gap-compact, $alignItems: center);

      & .available-dish__food-image {
        @include size(40px, 40px);
      }
    }
  }

  & .available-dish__vendor-wrapper {
    padding: $spacing-2xs;

    & .available-dish__vendor {
      padding: calc($spacing-4xs + 1px) 0;
      text-transform: uppercase;
    }
  }

  & .available-dish__user-wrapper {
    padding: $spacing-2xs;

    & .available-dish__avatar-wrapper {
      padding: calc($spacing-4xs + 1px) 0;
    }

    & .available-dish__avatar-image {
      @include size(22px, 22px);

      border-radius: $border-radius-circle;
      object-fit: cover;
    }

    & .available-dish__user-name {
      padding: calc($spacing-4xs + 1px) 0;
    }
  }

  & .available-dish__reserve-button {
    padding: $spacing-2xs;
  }
}
