@import './../../styles/index.css';

.loader {
  @include flexbox($alignItems: center, $justifyContent: center);

  background-color: $color-white;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
