@import './../../../styles/index.css';

$transition-duration: 0.2s;
$button-width: 243px;

.buy-button {
  @include label-s;
  @include flexbox($alignItems: center, $justifyContent: center, $gap: calc($spacing-5xs + 1px));

  border: 2px solid $color-green-400;
  border-radius: $border-radius-extra-large;
  height: 48px;
  overflow: hidden;
  padding: $spacing-5xs;
  position: relative;
  transition-duration: $transition-duration;
  transition-property: color;
  transition-timing-function: linear;
  width: $button-width;
  z-index: 1;

  & .buy-button__background {
    background-color: $color-green-400;
    border-radius: $border-radius-extra-large;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition-duration: 0.9s;
    transition-property: width;
    transition-timing-function: linear;
    width: 0%;
    z-index: -1;
  }

  &.buy-button--held .buy-button__background {
    width: 100%;
  }

  &.buy-button--bought {
    color: $color-white;

    & svg {
      @include size($width: calc($spacing-2xs + 2px), $height: calc($spacing-2xs + 2px));

      path {
        animation-duration: $transition-duration;
        animation-fill-mode: forwards;
        animation-name: change-icon;
        animation-timing-function: linear;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

@keyframes change-icon {

  from {
    fill: $color-blue-600;
  }

  to {
    fill: $color-white;
  }
}
