@import './../../../../styles/index.css';
$button-animation-duration: 350ms;

.button {
  background-color: $color-blue-800;
  transition: $button-animation-duration ease-in-out;

  &:hover {
    background-color: $color-blue-600;
  }

  &:active {
    background-color: $color-blue-400;
  }

  &.button--expanded {

    @include label-s;
    @include flexbox($alignItems: center, $gap: $gap-Xmedium);

    animation: button-width2 $button-animation-duration;
    border-radius: $border-radius-medium;
    padding: calc($spacing-4xs - 2px) $spacing-3xs;
    width: 181px;
    @include mobile-breakpoint {
      @include flexbox($justifyContent: center, $alignItems: center, $direction: column);
      @include label-xxs;

      border-radius: $border-radius-small;
      padding: 0;
      width: 60px;
    }
  }

  & .button__icon {
    @include size(20px, 20px);
    @include flexbox($alignItems: center);

    & path {
      fill: $color-white;
    }
  }

  & .button__text--expanded {
    @include flexbox($alignItems: center);

    min-height: 28px;
    @include mobile-breakpoint {
      min-height: 15px;
    }
  }

  & .button__text--collapsed {
    min-height: 15px;
  }

  &.button--collapsed {
    @include flexbox($justifyContent: center, $alignItems: center, $direction: column);
    @include label-xxs;

    animation: button-width $button-animation-duration;
    border-radius: $border-radius-small;
    width: 60px;
  }

  &.button-selected--expanded {
    box-shadow: inset 0 0 0 2px $color-orange-400;
  }

  &.button-selected--collapsed {
    box-shadow: inset 0 0 0 0.5px $color-orange-400;
  }
}

@keyframes button-width {

  from {
    width: 181px;
  }

  to {
    width: 60px;
  }
}

@keyframes button-width2 {

  from {
    width: 60px;
  }

  to {
    width: 181px;
  }
}
