@import '../../styles/index.css';

.auth {
  @include flexbox($direction: column, $gap: $gap-XXlarge: 1.75rem;);

  width: 100%;

  & .auth__content {
    @include flexbox($justifyContent: between, $alignItems: flex-start, $gap: $gap-Xlarge);

    margin-top: 5rem;

    & .auth__image {
      width: 100%;

      & img {
        border-radius: 0 $border-radius-large $border-radius-large 0;
        height: auto;
        max-height: 802px;
        max-width: 100%;
      }
      @include tablet-breakpoint {
        display: none;
      }
      @include mobile-breakpoint {
        display: none;
      }
    }
  }

  & .auth__container {
    @include flexbox($justifyContent: center, $alignItems: center);

    width: 100%;
  }
}
