@import '../../../../styles/index.css';

.auth-card {
  @include flexbox($justifyContent: center, $direction: column, $gap: $gap-Xlarge);

  border-radius: $border-radius-regular;
  box-shadow: inset 0 0 0 1px $color-grey-100;
  min-width: 391px;
  padding: $spacing-s;

  & .auth-card__logo {
    @include size(104px, 51px);

    align-self: center;
  }

  & .auth-card__header {
    @include flexbox($alignItems: center, $direction: row);

    box-shadow: inset 0 -4px 0 -2px $color-grey-300;
  }
}
