@import '../../styles/index.css';

.toast {
  @include box-shadow-m;
  @include flexbox($gap: $spacing-2xs);

  animation: drop-in forwards 300ms cubic-bezier(0.06, 0.14, 0.49, 1.6);
  border-radius: $border-radius-regular;
  left: 50%;
  max-width: 368px;
  padding: $spacing-2xs;
  position: fixed;
  top: 24px;
  transform: translate(-50%, -100%);
  z-index: 1;

  &.toast--closing {
    animation: drop-out reverse 300ms cubic-bezier(0.06, 0.14, 0.49, 1.6);
  }

  &.toast--color-info {
    background-color: $color-purple-500;
  }

  &.toast--color-success {
    background-color: $color-green-300;
  }

  &.toast--color-warning {
    background-color: $color-red-500;
  }

  & .toast__icon {
    @include flexbox($alignItems: flex-start);

    & svg {
      @include size(20px, 20px);
    }

    & path {
      fill: $color-white;
    }
  }

  & .toast__text {
    @include label-s;

    border-right: 1px solid $color-white;
    color: $color-white;
    padding-right: $spacing-2xs;
    text-align: start;
  }

  & .toast__close {
    @include flexbox($alignItems: center);
  }

  & .toast__icon-close {
    cursor: pointer;

    & path {
      fill: $color-white;
    }
  }
}

@keyframes drop-in {

  from {
    transform: translate(-50%, -100%);
  }

  to {
    transform: translate(-50%, 0);
  }
}

@keyframes drop-out {

  from {
    transform: translate(-50%, -100%);
  }

  to {
    transform: translate(-50%, 0);
  }
}
