@import './../../styles/index.css';

.dish-details {

  & .dish-details__container {
    @include flexbox($direction: column, $gap: $gap-Xlarge);

    & .dish-details__content {
      @include flexbox($gap: $gap-medium);

      & .dish-details__image {
        @include size(223px, 222px);

        background: $color-orange-gradient;
        border-radius: $border-radius-regular;
      }

      & .dish-details__information {
        @include flexbox($direction: column, $justifyContent: space-between);

        & .dish-details__header {

          & .dish-details__vendor {
            @include title-xs;

            color: $text-color-grey;
          }

          & .dish-details__title-container {
            @include flexbox($gap: $gap-small);

            & .dish-details__title {
              @include title-s;

              color: $text-color-blue;
            }

            & .dish-details__icons {
              @include flexbox($alignItems: center);

              & .dish-details__plant-icon {
                @include size(16px, 16px);

                & path {
                  fill: $color-green-500;
                }
              }

              & .dish-details__chilli-icon {
                @include size(16px, 16px);

                & path {
                  fill: $color-red-500;
                }
              }
            }
          }

          & .dish-details__rating {
            @include label-xs;

            color: $color-blue-600;
          }
        }

        & .dish-details__description {
          @include body-m;

          color: $text-color-grey;
        }

        & .dish-details__price {
          color: $color-blue-600;

          & .dish-details__price-title {
            @include body-s;
          }

          & .dish-details__price-value {
            @include title-l;
          }
        }
      }
    }

    & .dish-details__comments {
      @include flexbox($direction: column, $gap: $gap-large);

      border-top: 1px solid $color-grey-200;
      padding-top: $spacing-xs;

      & .dish-details__comments-number {
        @include title-s;

        color: $color-blue-600;
      }

      & .dish-details__comment {
        @include flexbox($direction: column, $gap: $gap-regular);

        & .dish-details__user {
          @include flexbox($gap: $gap-compact);

          & .dish-details__user-icon {
            @include size(22px, 22px);

            border-radius: $border-radius-circle;
            object-fit: cover;
          }

          & .dish-details__user-name {
            @include title-xs;

            align-self: center;
            color: $color-blue-600;
            text-transform: uppercase;
          }
        }

        & .dish-details__comment-text {
          @include body-s;

          color: $color-text-grey;
          padding-left: $gap-2Xlarge;
        }
      }
    }
  }
}

/* & .dish-details__plant-icon {
  & path {
    fill: $color-green-500;
  } 
} */

/* .comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
