@import "./../../styles/index.css";

.card {
  display: inline-block;
  background-color: $color-white;
  border-radius: $border-radius-large;
  border: solid 1px $color-grey-100;

  &.card--spacing-3xs {
    padding: $spacing-3xs;
  }

  &.card--spacing-2xs {
    padding: $spacing-2xs;
  }

  &.card--spacing-xs {
    padding: $spacing-xs;
  }

  &.card--spacing-s {
    padding: $spacing-s;
  }

  &.card--boxShadow-xs {
    @include xs-box-shadow;
  }

  &.card--boxShadow-s {
    @include s-box-shadow;
  }

  &.card--boxShadow-m {
    @include m-box-shadow;
  }
}
