@import "./../../styles/index.css";

.card {
  display: inline-block;
  background-color: $color-white;
  border: solid 1px $color-grey-100;

  &.card--rounded-corners-all {
    border-radius: $border-radius-regular;
  }

  &.card--rounded-corners-left {
    border-top-left-radius: $border-radius-regular;
    border-bottom-left-radius: $border-radius-regular;
  }

  &.card--rounded-corners-right {
    border-top-right-radius: $border-radius-regular;
    border-bottom-right-radius: $border-radius-regular;
  }

  &.card--spacing-3xs {
    padding: $spacing-3xs;
  }

  &.card--spacing-2xs {
    padding: $spacing-2xs;
  }

  &.card--spacing-xs {
    padding: $spacing-xs;
  }

  &.card--spacing-s {
    padding: $spacing-s;
  }

  &.card--box-shadow-xs {
    @include xs-box-shadow;
  }

  &.card--box-shadow-s {
    @include s-box-shadow;
  }

  &.card--box-shadow-m {
    @include m-box-shadow;
  }
}
