@import '../../styles/index.css';

.available-dish__content-wrapper {
  @include flexbox($gap: $gap-medium, $justifyContent: space-between);
  @include title-s;

  box-shadow: inset 0 0 0 1px $color-grey-100;
  min-height: 113px;

  & .available-dish__meal-wrapper {
    min-width: 409.5px;
    padding: $spacing-2xs;

    & .available-dish__wrapper {
      @include flexbox($gap: $gap-compact, $alignItems: center);

      & .available-dish__food-image {
        @include size(40px, 40px);
      }
    }
  }

  & .available-dish__vendor-wrapper {
    max-width: 266px;
    padding: $spacing-2xs;

    & .available-dish__vendor {
      padding: calc($spacing-4xs + 1px) 0;
    }
  }

  & .available-dish__user-wrapper {
    padding: $spacing-2xs;

    & .available-dish__avatar-wrapper {
      max-height: 40px;
      padding: calc($spacing-4xs + 1px) 0;
    }

    & .available-dish__avatar-image {
      @include size(22px, 22px);

      border-radius: $border-radius-circle;
      object-fit: cover;
    }

    & .available-dish__user-name {
      padding: calc($spacing-4xs + 1px) 0;
    }
  }

  & .available-dish__reserve-button {
    padding: $spacing-2xs;
  }
}
