@import './../../styles/index.css';

.meal-search {
  @include flexbox($direction: column, $gap: calc($gap-Xlarge + 1px));

  box-shadow: inset 0 0 0 0.5px $color-grey-100;
  padding: $spacing-xs;

  & .meal-search__form {
    @include flexbox(
      $justifyContent: space-between,
      $alignItems: flex-end,
      $wrap: wrap,
      $gap: $gap-compact
    );

    & .meal-search__inputs {
      @include flexbox($gap: $gap-compact, $wrap: wrap);

      & .meal-search__input {
        min-width: 323px;
      }
    }
  }

  & .meal-search__sort-by-container {
    @include flexbox($direction: column, $gap: calc($gap-Xlarge + 1px));
  }

  & .meal-search__seperator {
    border-top: solid 1px $color-grey-200;
  }

  & .meal-search__sort-by {
    @include flexbox($gap: calc($gap-large + 2px));

    & .meal-search__label-sort-by {
      @include title-s;
      @include flexbox($alignItems: center);

      color: $color-blue-600;
    }
  }
}
