@import '../../styles/index.css';

.header {

  & .header__title {
    @include headline-l;

    color: $color-blue-600;
    padding-bottom: $spacing-4xs;
  }

  & .header__subtitle {
    @include title-l;

    color: $color-blue-600;
  }
}
