$gap-small: 0.25rem;
$gap-regular: 0.5rem;
$gap-compact: 0.75rem;
$gap-medium: 1rem;
$gap-large: 1.25rem;
$gap-Xlarge: 1.5rem;
$gap-XXlarge: 1.75rem;
$gap-2Xlarge: 2rem;
$gap-3XXlarge: 2.5rem;
$gap-6Xlarge: 4.5rem;
