$spacing-5xs: 0.25rem;
$spacing-4xs: 0.5rem;
$spacing-3xs: 0.75rem;
$spacing-2xs: 1rem;
$spacing-xs: 1.25rem;
$spacing-s: 1.5rem;
$spacing-m: 2rem;
$spacing-l: 2.5rem;
$spacing-xl: 3rem;
$spacing-2xl: 3.5rem;
$spacing-2xxl: 3.75rem;
$spacing-3xl: 4rem;
$spacing-4xl: 4.5rem;
