$font-family: "Poppins", sans-serif;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$letter-spacing: 0,25px;
$font-size-xxxl: 2rem;
$font-size-xxl: 1,5rem;
$font-size-xl: 1,25rem;
$font-size-l: 1,125rem;
$font-size-m: 1rem;
$font-size-s: 0,875rem;
$font-size-xs: 0,75rem;
$font-size-xxs: 0,625rem;
$ratio-l: 1,5;
$ratio-m: 1,25;


.headline-l {
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size-xxxl;
    line-height: $ratio-m;
}

.headline-m {
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size-xxl;
    line-height: $ratio-m;
}

.headline-s {
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
    line-height: $ratio-l;
}

.title-xl {
    font-family: $font-family;
    font-weight: $font-weight-medium;
    font-size: $font-size-xxl;
    line-height: $ratio-m;
}

.title-l {
    font-family: $font-family;
    font-weight: $font-weight-medium;
    font-size: $font-size-l;
    line-height: $ratio-l;
}

.title-m {
    font-family: $font-family;
    font-weight: $font-weight-medium;
    font-size: $font-size-m;
    line-height: $ratio-l;
}

.title-s {
    font-family: $font-family;
    font-weight: $font-weight-medium;
    font-size: $font-size-s;
    line-height: $ratio-l;
}

.title-xs {
    font-family: $font-family;
    font-weight: $font-weight-medium;
    font-size: $font-size-xxs;
    line-height: $ratio-l;
}

.label-l {
    font-family: $font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-xl;
    line-height: $ratio-l;
    letter-spacing: $letter-spacing;
}

.label-m {
    font-family: $font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-m;
    line-height: $ratio-l;
    letter-spacing: $letter-spacing;
}

.label-s {
    font-family: $font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-s;
    line-height: $ratio-l;
    letter-spacing: $letter-spacing;
}

.label-xs {
    font-family: $font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-xs;
    line-height: $ratio-l;
    letter-spacing: $letter-spacing;
}

.label-xxs {
    font-family: $font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-xxs;
    line-height: $ratio-l;
    letter-spacing: $letter-spacing;
}

.body-l {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: $font-size-m;
    line-height: $ratio-l;
}

.body-m {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: $font-size-s;
    line-height: $ratio-l;
}

.body-s {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: $font-size-xs;
    line-height: $ratio-l;
}

