$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

$font-size-xxxl: 2rem;
$font-size-xxl: 1.5rem;
$font-size-xl: 1.25rem;
$font-size-l: 1.125rem;
$font-size-m: 1rem;
$font-size-s: 0.875rem;
$font-size-xs: 0.75rem;
$font-size-xxs: 0.625rem;

$line-height-ratio-l: 1.5;
$line-height-ratio-m: 1.25;

$letter-spacing: 0.25px;


@mixin headline-l {
    font-weight: $font-weight-bold;
    font-size: $font-size-xxxl;
    line-height: $line-height-ratio-m;
}

@mixin headline-m {
    font-weight: $font-weight-bold;
    font-size: $font-size-xxl;
    line-height: $line-height-ratio-m;
}

@mixin headline-s {
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
    line-height: $line-height-ratio-l;
}

@mixin title-xl {
    font-weight: $font-weight-medium;
    font-size: $font-size-xxl;
    line-height: $line-height-ratio-m;
}

@mixin title-l {
    font-weight: $font-weight-medium;
    font-size: $font-size-l;
    line-height: $line-height-ratio-l;
}

@mixin title-m {
    font-weight: $font-weight-medium;
    font-size: $font-size-m;
    line-height: $line-height-ratio-l;
}

@mixin title-s {
    font-weight: $font-weight-medium;
    font-size: $font-size-s;
    line-height: $line-height-ratio-l;
}

@mixin title-xs {
    font-weight: $font-weight-medium;
    font-size: $font-size-xxs;
    line-height: $line-height-ratio-l;
}

@mixin label-l {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-xl;
    line-height: $line-height-ratio-l;
    letter-spacing: $letter-spacing;
}

@mixin label-m {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-m;
    line-height: $line-height-ratio-l;
    letter-spacing: $letter-spacing;
}

@mixin label-s {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-s;
    line-height: $line-height-ratio-l;
    letter-spacing: $letter-spacing;
}

@mixin label-xs {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-xs;
    line-height: $line-height-ratio-l;
    letter-spacing: $letter-spacing;
}

@mixin label-xxs {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-xxs;
    line-height: $line-height-ratio-l;
    letter-spacing: $letter-spacing;
}

@mixin body-l {
    font-weight: $font-weight-regular;
    font-size: $font-size-m;
    line-height: $line-height-ratio-l;
}

@mixin body-m {
    font-weight: $font-weight-regular;
    font-size: $font-size-s;
    line-height: $line-height-ratio-l;
}

@mixin body-s {
    font-weight: $font-weight-regular;
    font-size: $font-size-xs;
    line-height: $line-height-ratio-l;
}

