@import './../../styles/index.css';

.dialog {
  display: block;
  width: 447px;

  & .dialog__structure {
    @include flexbox($gap: $gap-Xlarge, $direction: column);

    display: flex;
    gap: $gap-Xlarge;
    width: 415px;
  }

  & .dialog__header {
    @include flexbox($justifyContent: space-between);

    @include headline-s;

    color: $color-blue-600;
  }

  & .dialog__close-icon {
    line-height: 10px;
    padding: $spacing-5xs;
  }

  & .dialog__picture-and-content {
    @include body-l;
    @include flexbox($gap: $gap-medium);
  }

  & .dialog__img-container {
    height: 80px;
    width: 80px;
  }

  & .dialog__img-too-big {
    position: relative;
    top: -8px;
  }

  & .dialog__content {
    @include flexbox($alignItems: center);

    text-align: justify;
  }

  & .dialog__content--warningText {
    display: none;
  }

  & .dialog__content--successText {
    display: none;
  }

  & .dialog__buttons {
    @include label-m;
    @include flexbox($gap: calc($gap-large - 5px), $direction: row-reverse);
  }

  & .dialog__buttons--second-button-off {
    display: none;
  }
}
