@import '../../styles/index.css';

.select {
  @include flexbox($direction: column, $gap: $gap-small);

  position: relative;

  & .select__label {
    @include label-s;

    color: $color-blue-600;
    text-align: left;
  }

  & .select__input {
    @include flexbox($justifyContent: space-between);

    border: none;
    border-radius: $border-radius-regular;
    box-shadow: inset 0 0 0 1px $color-grey-300;
    padding: $spacing-4xs $spacing-3xs;

    & .select__value {
      @include body-m;

      align-self: center;
      color: $color-blue-600;
      user-select: none;
    }

    & .select__placeholder {
      @include body-m;

      color: $color-grey-500;
    }

    & .select__icon--rotated {
      transform: rotate(0.5turn);
    }

    &.select__input-disabled-box-shadow {
      box-shadow: none;
    }
  }

  & .select__input--focused {
    box-shadow: inset 0 0 0 2px $color-purple-500;
  }

  .select__list {
    @include flexbox($direction: column);
    @include box-shadow-m;

    background-color: $color-white;
    border: 1px solid $color-grey-200;
    border-radius: $border-radius-regular;
    outline: none;

    & .select__list-item {
      @include title-s;

      color: $color-blue-600;
      padding: calc($spacing-4xs + 2px) 0 calc($spacing-4xs + 2px) $spacing-2xs;
      text-align: left;
      width: 100%;

      &:first-child {
        border-radius: $border-radius-regular $border-radius-regular 0 0;
      }

      &:last-child {
        border-radius: 0 0 $border-radius-regular $border-radius-regular;
      }

      &:hover {
        background-color: $color-purple-200;
      }
    }

    & .select__list-item--selected {
      background-color: $color-blue-800;
      color: $color-orange-600;
    }
  }
}
