@import './../../styles/index.css';

.tab-container {
  @include label-s;

  border-radius: $border-radius-small;
  display: inline-block;

  &:hover {
    background-color: rgb(20 49 73 / 5%);
    border: solid 0;
  }
}

.tab {
  box-shadow: 0 2px 0 $color-grey-300;
  color: $color-grey-500;
  padding: calc($spacing-4xs + 1px) $spacing-2xs;

  &.tab--active {
    box-shadow: 0 2px 0 $color-orange-400;
    color: $color-blue-600;
  }
}
