@import './../../styles/index.css';

.tab-container {
  @include label-s;

  border-bottom: solid 2px $color-grey-300;
  color: $color-grey-500;
  display: inline-block;

  &.tab-container--active {
    border-bottom: solid 2px $color-orange-400;
    color: $color-blue-600;
  }

  & .tab {
    border-radius: $border-radius-small;
    padding: calc($spacing-4xs + 1px) $spacing-2xs;
  }

  & .tab:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  & .tab:hover {
    background-color: rgb(20 49 73 / 5%);
  }
}
