@import "./../../styles/index.css";

.container {
  @include label-s;
  box-sizing: border-box;
  color: $color-grey-500;
}
.containerActive {
  @include label-s;
  box-sizing: border-box;
  padding-bottom: 0.4375rem;
  border-bottom: solid $color-orange-400 2px;
  color: $color-blue-600;
}
.tab {
  padding: 0.5625rem $spacing-2xs 0.5625rem $spacing-2xs;
  box-sizing: border-box;
  &:hover {
    background-color: rgba(20, 49, 73, 0.05);
    box-sizing: border-box;
    border: solid 0px;
    border-radius: 4px;
  }
}
