@import '../../../../styles/index.css';

.available-lunch {
  @include flexbox($direction: column, $gap: $gap-2Xlarge);

  & .available-lunch__header {
    @include flexbox($direction: row, $justifyContent: space-between, $gap: $gap-2Xlarge);
    @include headline-s;

    color: $text-color-blue;
  }

  th {
    @include label-s;

    padding: $spacing-5xs $spacing-2xs;
    text-align: left;
  }

  & .available-lunch__table {
    border-collapse: separate;
    border-spacing: 1rem;
    width: 100%;

    & .available-lunch__table-header {
      box-shadow: inset 0 -4px 4px -4px $color-grey-200;
    }
  }
}
