@import '../../../../styles/index.css';

.available-lunch {
  @include flexbox($direction: column, $gap: $gap-2Xlarge);

  & .available-lunch__header {
    @include flexbox($direction: row, $justifyContent: space-between, $alignItems: center);

    h2 {
      @include headline-s;

      color: $text-color-blue;
    }
  }

  th {
    @include label-s;

    color: $color-grey-500;
    padding: $spacing-5xs $spacing-2xs;
    text-align: left;
  }

  & .available-lunch__table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    width: 100%;

    & .available-lunch__table-header {
      box-shadow: 0 1px 0 $color-grey-200;
    }
  }
}
