@mixin box-shadow-xs {
  box-shadow:
    0 1px 2px 0 #8d8d8d1f,
    0 2px 6px 0 #8d8d8d1c;
}

@mixin box-shadow-s {
  box-shadow:
    0.3px 0.8px 1.1px 0 #8d8d8d1c,
    0.5px 1.3px 1.8px -0.6px #8d8d8d2e,
    1.1px 2.7px 3.8px -1.2px #8d8d8d42;
}

@mixin box-shadow-m {
  box-shadow:
    0.3px 0.8px 1.1px 0 #8d8d8d1c,
    1.1px 2.8px 3.9px -0.4px #8d8d8d29,
    2.4px 6.1px 8.6px -0.8px #8d8d8d33,
    5.3px 13.3px 18.8px -1.2px #c8c8c840;
}

@mixin box-shadow-l {
  box-shadow:
    0.3px 0.8px 1.1px 0 #bbbbbb1c,
    0.5px 1.3px 1.8px -0.6px #bbbbbb2e,
    1.1px 2.7px 3.8px -1.2px #bbbbbb42;
}
