@mixin create-text-style(
  $font-weight,
  $font-size,
  $line-height-ratio,
  $letter-spacing-initial: initial
) {
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing-initial;
  line-height: $line-height-ratio;
}

@mixin headline-l {
  @include create-text-style($font-weight-bold, $font-size-xxxl, $line-height-ratio-m);
}

@mixin headline-m {
  @include create-text-style($font-weight-bold, $font-size-xxl, $line-height-ratio-m);
}

@mixin headline-s {
  @include create-text-style($font-weight-bold, $font-size-l, $line-height-ratio-l);
}

@mixin title-xl {
  @include create-text-style($font-weight-medium, $font-size-xxl, $line-height-ratio-m);
}

@mixin title-l {
  @include create-text-style($font-weight-medium, $font-size-l, $line-height-ratio-l);
}

@mixin title-m {
  @include create-text-style($font-weight-medium, $font-size-m, $line-height-ratio-l);
}

@mixin title-s {
  @include create-text-style($font-weight-medium, $font-size-s, $line-height-ratio-l);
}

@mixin title-xs {
  @include create-text-style($font-weight-medium, $font-size-xxs, $line-height-ratio-l);
}

@mixin label-l {
  @include create-text-style(
    $font-weight-semi-bold,
    $font-size-xl,
    $line-height-ratio-l,
    $letter-spacing
  );
}

@mixin label-m {
  @include create-text-style(
    $font-weight-semi-bold,
    $font-size-m,
    $line-height-ratio-l,
    $letter-spacing
  );
}

@mixin label-s {
  @include create-text-style(
    $font-weight-semi-bold,
    $font-size-s,
    $line-height-ratio-l,
    $letter-spacing
  );
}

@mixin label-xs {
  @include create-text-style(
    $font-weight-semi-bold,
    $font-size-xs,
    $line-height-ratio-l,
    $letter-spacing
  );
}

@mixin label-xxs {
  @include create-text-style(
    $font-weight-semi-bold,
    $font-size-xxs,
    $line-height-ratio-l,
    $letter-spacing
  );
}

@mixin body-l {
  @include create-text-style($font-weight-regular, $font-size-m, $line-height-ratio-l);
}

@mixin body-m {
  @include create-text-style($font-weight-regular, $font-size-s, $line-height-ratio-l);
}

@mixin body-s {
  @include create-text-style($font-weight-regular, $font-size-xs, $line-height-ratio-l);
}
